<section class="section recent-post" id="recent" aria-labelledby="recent-label">
    <div class="container">

        <div class="post-main">

            <h2 class="headline headline-2 section-title">
                <span class="span">All Posts</span>
            </h2>

            <ul class="grid-list">
                {% for post in posts %}
                    {% include "blogs/includes/blog_card.html" %}
                {% endfor %}
            </ul>
        </div>


    </div>
</section>
