{% load static %}

<li>
    <div class="recent-post-card">

        <figure class="card-banner img-holder" style="--width: 271; --height: 258;">
            <img src="{% static 'images/'|add:post.image %}" width="271" height="258"
                 loading="lazy"
                 alt="Helpful Tips for Working from Home as a Freelancer" class="img-cover">
        </figure>

        <div class="card-content">

            <h3 class="headline headline-3 card-title">
                <a href="{% url 'blog_detail' blog_id=post.id %}" class="link hover-2">
                    {{post.title}}</a>
            </h3>

            <p class="card-text">
                {{post.short_description}}
            </p>

            <div class="card-wrapper">
                <div class="wrapper">
                    <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                    <span class="span">{{post.date}}</span>
                </div>
            </div>

        </div>

    </div>
</li>