{% extends 'base.html' %}

{% block main %}
	<article>
        <section class="hero">
                <div class="container">
                    <h2 class="headline headline-2 section-title">
                        <span class="span"> Contact Me </span>
                    </h2>
                </div>

                <div class="container">
                    <ul>
                        <li>
                            <h2>hi</h2>
                        </li>
                        <li>

                        </li>
                        <li>

                        </li>
                    </ul>
                </div>
        </section>
    </article>
{% endblock %}